<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <h1><%= list.title %></h1>
      <% if(currentUser) { %>
      <a href="/lists/<%= list.id %>/edit" class="btn btn-warning">Edit List</a>
      <form style="display:initial" action="/lists/<%= list.id %>/destroy" method="item">
      <button type="submit" class="btn btn-danger">Delete List</button>
    </form>
      <% } %>

      <hr>

  <h1>Items</h1>

  <ul class="list-group">
    <% if(currentUser) { %>
    <a href="/lists/<%= list.id %>/items/new" class="btn btn-success">+</a>
    <% list.items.forEach((item) => { %>
      <li class="list-group-item">
        <p> <%= item.description %>


        <input  id="checkbox" onchange="toggle()" type="checkbox" name="isPurchased" value="<%= item.isPurchased %>">


        <form style="display:initial" action="/lists/<%= item.listId %>/items/<%= item.id %>/destroy" method="post">
          <button type="submit" class="btn btn-danger">Delete Item</button>
       </form>
         <a href="/lists/<%= item.listId %>/items/<%= item.id %>/edit" class="btn btn-warning">Edit Item</a>
        </p>
      </li>
    <% }) %>
<% } %>
  </ul>

    </main>

    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>

    <script type="text/javascript">
      function toggle(){
        var checkbox = document.getElementbyId("checkbox");
        checkbox.addEventListener('change', item.togglePurchased);
      }
   </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


  </body>
</html>
